Source: ros-lyrical-pick-ik
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, librange-v3-dev, ros-lyrical-ament-cmake-ros, ros-lyrical-generate-parameter-library, ros-lyrical-moveit-core, ros-lyrical-moveit-resources-panda-moveit-config <!nocheck>, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rsl, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-kdl, ros-lyrical-tl-expected, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/pick_ik/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-pick-ik
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, librange-v3-dev, ros-lyrical-generate-parameter-library, ros-lyrical-moveit-core, ros-lyrical-pluginlib, ros-lyrical-rclcpp, ros-lyrical-rsl, ros-lyrical-tf2-geometry-msgs, ros-lyrical-tf2-kdl, ros-lyrical-tl-expected, ros-lyrical-ros-workspace
Description: Inverse Kinematics solver for MoveIt
