Source: ros-rolling-pick-ik
Section: misc
Priority: optional
Maintainer: Tyler Weaver <maybe@tylerjw.dev>
Build-Depends: debhelper (>= 9.0.0), libfmt-dev, librange-v3-dev, ros-rolling-ament-cmake-ros, ros-rolling-generate-parameter-library, ros-rolling-moveit-core, ros-rolling-moveit-resources-panda-moveit-config <!nocheck>, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rsl, ros-rolling-tf2-geometry-msgs, ros-rolling-tf2-kdl, ros-rolling-tl-expected, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-pick-ik
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libfmt-dev, librange-v3-dev, ros-rolling-generate-parameter-library, ros-rolling-moveit-core, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-rsl, ros-rolling-tf2-geometry-msgs, ros-rolling-tf2-kdl, ros-rolling-tl-expected, ros-rolling-ros-workspace
Description: Inverse Kinematics solver for MoveIt
